body {
    font-family: 'Sacramento', cursive;
    text-align: center;
    background-color: whitesmoke;
}

main {
    grid: gray;
    color: black;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}

h1 {
    text-align: center;
    padding: 10px;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

h3 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

h4 {
    font-size: 40px;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.titulo1 {
    display: grid;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: gray;
    grid: grey;
    grid-template-columns: 1fr 3fr;
    grid: #ffff;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Sacramento', cursive;
}

.titulo2 {


    background-size: 20%;
    color: black;
    text-align: center;
    font-size: 40px;
    background-size: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Sacramento', cursive;
    background-image: url();
}

.titlo3 {
    text-align: center;
    font-family: 'Sacramento', cursive;
}

p {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    text-align: center;
}